// @import 'reset';
// @import 'media';
// @import 'global';
// @import 'icons';

// @import 'includes/plugins';

.header {
	position: relative;
    z-index: 1;
}

.header-top {
	padding: 4px 0;
	background-color: #2B2A29;
}

.header-bottom {
	background-color: #EFA954;
	border-top: 1px solid #C8904B;
	padding-top: 5px;
	position: relative;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 98%;
		background-color: #222221;
		height: 26px;
		pointer-events: none;
	}

	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -16px;
		width: 100%;
		height: 55%;
		background: url("../images/header-bg.svg") no-repeat bottom center / cover;
		pointer-events: none;
	}
}

.bg-header {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	pointer-events: none;
}

.logo-header {
	position: relative;
	display: inline-block;
    scale: 1.12;
    top: -17px;
}

.header-text {
	color: var(--color-dark, #000);
	line-height: 1.3;
}

.header-cols {
	display: flex;
	position: relative;
    z-index: 1;

    .col-left {
    	margin-bottom: -30px;
    }

	.col-right {
		.wrap {
			display: flex;
			align-items: center;
			margin-bottom: 15px;
		}
	}

	.logo-text {
		flex-shrink: 0;
		margin-right: 30px;
		display: inline-block;
	}
}

.title-text {
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 8px;
}

.lang-wrap {
	display: table;
	position: relative;
	margin-left: auto;

	&.active {
		.lang-list {
			display: block;
		}
		.lang-btn {
			.icon-arrow {
				transform: rotate(180deg);
			}
		}
	}

	.flag {
		margin-right: 8px;
		display: block;
		border-radius: 2px;
		width: 24px;
		height: 16px;
		object-fit: cover;
	}
}

.lang-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 5px 5px 4px 5px;
	border-radius: 5px;
	border: 1px solid var(--white-20, rgba(255, 255, 255, 0.20));
	background-color: transparent;
	color: #fff;
	cursor: pointer;

	.icon-arrow {
		font-size: 11px;
		transition: transform .2s;
	}

	.lang-name {
		text-transform: uppercase;
		margin-right: 4px;
		font-size: 13px;
	}
}

.lang-name {
	font-size: 14px;
}

.lang-list {
	width: 250px;
	position: absolute;
	top: calc(100% + 4px);
	right: 0;
	z-index: 2;
	text-align: left;
	border-radius: 5px;
	border: 1px solid var(--white-20, rgba(255, 255, 255, 0.20));
	padding: 10px 6px;
	background-color: #2B2A29;
	column-count: 2;
	display: none;

	.item {
		display: flex;
		margin-bottom: 6px;
		padding: 0 4px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.lang-link {
	display: inline-flex;
	align-items: center;
	transition: color .3s;

	@media(hover: hover) and (pointer: fine){
		&:hover{
			color: #EFA954;
		}
	}

	.lang-name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 70%;
	}
}

.header-controls {
	border-radius: 36px;
	background: var(--dark-20, rgba(0, 0, 0, 0.20));
	padding: 13px 16px;
	display: flex;
	align-items: center;
	margin-left: -30px;
}

.search-header {
	flex-grow: 1;
}

.search-form {
	position: relative;

	.search-btn {
		position: absolute;
		top: 50%;
		right: 23px;
		transform: translate3d(0, -50%, 0);
		border: none;
		background: none;
		cursor: pointer;
		font-size: 20px;
		transition: color .3s;

		@media(hover: hover) and (pointer: fine){
			&:hover{
				color: #EFA954;
			}
		}
	}
}

.search-input {
	width: 100%;
	padding-right: 50px;
}

.fake-placeholder {
	color: var(--dark-80, rgba(0, 0, 0, 0.80));
	display: flex;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 0;
	width: calc(100% - 50px);
	padding-left: 23px;
	transform: translateY(-50%);
	pointer-events: none;

	.name {
		color: var(--dark-60, rgba(0, 0, 0, 0.60));
		margin-left: 6px;
	}
}

.search-input:focus + .fake-placeholder,
.search-input:not(:placeholder-shown) + .fake-placeholder {
  display: none;
}

.navbar {
	display: flex;
	margin-right: 10px;

	.item {
		margin-right: 2px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.nav-link {
	transition: color .3s;
	display: flex;
	align-items: center;

	@media(hover: hover) and (pointer: fine){
		&:hover{
			color: #EFA954;
		}
	}

	.icon {
		flex-shrink: 0;

		& + .name {
			margin-left: 8px;
			white-space: nowrap;
		}
	}
}

.btn-custom {
	border-radius: 20px;
	background: linear-gradient(to bottom, #FFC97F 0%, #271C0E 100%);
	padding: 4px 16px;
	font-weight: 500;
	height: 47px;
	line-height: 47px;
	position: relative;
	overflow: hidden;

	&:after {
		content: "";
		position: absolute;
		top: 1px;
		left: 1px;
		height: calc(100% - 2px);
		width: calc(100% - 2px);
		background: var(--dark-80, rgba(0, 0, 0, 0.80));
		border-radius: 20px;
	}

	& * {
		z-index: 1;
		position: relative;
	}
}

.theme-wrap {
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 7px;
	padding-right: 7px;
}

.theme-btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: none;
	color: #838383;
	font-size: 19px;
	margin: 0 2px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	position: relative;
	transition: color .3s;

	@media(hover: hover) and (pointer: fine){
		&:hover{
			color: #EFA954;
		}
	}

	&:after {
		content: "";
		position: absolute;
		top: 2px;
		left: 2px;
		height: calc(100% - 4px);
		width: calc(100% - 4px);
		background: linear-gradient(to bottom, #EC873D, #E89728);
		border-radius: 50%;
		display: none;
	}

	& * {
		z-index: 1;
		position: relative;
	}
}

.theme-light {
	font-size: 23px;
}