// @import 'reset';
// @import 'media';
// @import 'global';
// @import 'icons';

// @import 'includes/plugins';

.header {
	position: relative;
  z-index: 1;
  margin-bottom: 70px;

  @media(max-width: 1024px){
  	margin-bottom: 50px;
  }
  @media(max-width: 910px){
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	z-index: 10;
  	margin-bottom: 0;
  }

  &.open-menu {
  	.burger span:nth-child(1) {
		  top: 10px;
		  transform: translate3d(-50%, 13px, 0) rotate(45deg);
		}

		.burger span:nth-child(2) {
		  opacity: 0;
		}

		.burger span:nth-child(3) {
		  top: 10px;
		  transform: translate3d(-50%, 14px, 0) rotate(-45deg);
		}

		.burger {
			background: linear-gradient(to bottom, #FFC97F 0%, #E5912A 100%);
		}

		.burger:after {
			background: linear-gradient(130deg, #FD7B5A, #FEB910);
		}

		.header-controls {
			display: flex;
			justify-content: center;
		}

		.search-header {
			display: none;
		}

		.header-cols .related-sites {
			display: block;
		}
  }

  &.open-search {
  	.mob-search {
			background: linear-gradient(to bottom, #FFC97F 0%, #E5912A 100%);
		}

		.mob-search:after {
			background: linear-gradient(130deg, #FD7B5A, #FEB910);
		}

		.header-controls {
			display: flex;

			.navbar {
				display: none;
			}

			.theme-wrap {
				display: none;
			}
		}

		.search-header {
			padding-bottom: 24px;
		}
  }
}

.header-scrolled {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;

	.header-text {
		display: none;
	}
	.search-header {
		order: -1;
		margin-right: 10px;
	}
	.theme-wrap {
		margin-left: 0;
	}
	.header-cols {
		.col-right {
			width: 100%;
		}
	}
	.header-cols .col-left {
		display: none;
	}
	.header-cols .col-right .wrap {
		margin-bottom: 0;
	}
	.header-controls {
		margin-left: 0;
		flex-grow: 1;
	}
	.col-right {
		display: flex;
		align-items: center;
	}
	.header-top {
		display: none;
	}
	.logo-scrolled {
		display: block;
	}
	.header-bottom:after {
		height: 100%;
	}
	.header-bottom {
		border-top: none;
	}
	@media (min-width: 911px) and (max-width: 1150px) {
	  .nav-link .icon + .name,
	  .fake-placeholder .name {
	  	display: none;
	  }
	  .navbar .btn-custom {
	  	padding: 4px 12px;
	  }
	}
}

.logo-scrolled {
	display: none;

	img {
		display: block;
		height: 105px;
	}
}

.open-menu,
.open-search {
	& {
		background-color: #2B2A29;
    height: 100%;
    overflow-y: auto;
	}

	.container,
	.header-cols {
		height: 100%;
	}

	.header-bottom {
		background: transparent;
		border-color: transparent;

		&:before,
		&:after {
			display: none;
		}
	}

	.header-wrap {
		@media(max-width: 910px){
			height: 100%;
			display: flex;
			flex-direction: column;
		}
	}

	.header-bottom {
		flex-grow: 1;
	}

	.col-right {
		display: table;
		table-layout: fixed;

		.menu-footer {
			display: table-row;
	    height: 1px;
		}
	}
}

.light .open-menu,
.light .open-search {
	background-color: #a7a2a2;

	.header-cols .related-sites {
		background-color: #c2c0c0;
	}

	.header-top {
		background-color: #a7a2a2;
	}

	.related-sites .cat-bottom {
		background: linear-gradient(130deg, #FD7B5A, #FEB910);
		color: #fff;
	}
}

.mob-search {
	border: none;
	background: none;
	color: #fff;
	font-size: 22px;
}

.burger {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.burger span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, 13px, 0);
  width: 22px;
  height: 2px;
  background: #fff;
  border-radius: 3px;
  transition: transform 0.2s ease, opacity 0.2s ease, top 0.2s ease;
}

.burger span:nth-child(1) { top: 3px; }
.burger span:nth-child(2) { top: 10px; }
.burger span:nth-child(3) { top: 17px; }

.header-top {
	padding: 4px 0;
	background-color: #2B2A29;

	@media(max-width: 910px){
			.lang-wrap {
				padding-right: 5px;
			}
	}

}

.header-bottom {
	background-color: #EFA954;
	border-top: 1px solid #C8904B;
	padding-top: 5px;
	position: relative;

	@media(max-width: 910px){
		padding: 5px 0;
	}

	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 98%;
		background-color: #222221;
		height: 26px;
		pointer-events: none;

		@media(max-width: 910px){
			height: 35px;
			top: 100%;
		}
		@media(max-width: 380px){
			height: 24px;
		}
	}

	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -16px;
		width: 100%;
		height: 55%;
		background: url("../images/header-bg.svg") no-repeat bottom center / cover;
		pointer-events: none;

		@media(max-width: 1024px){
			bottom: -26px;
			height: 72%;
		}
		@media(max-width: 910px){
			bottom: -7px;
			scale: 2;
		}
		@media(max-width: 380px){
			background: url("../images/header-bg-mob.svg") no-repeat bottom center / cover;
			height: 36%;
			scale: 2.1;
		}
	}
}

.bg-header {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	pointer-events: none;
}

.logo-header {
	position: relative;
	display: inline-block;
	scale: 1.12;
	top: -17px;
}

.header-text {
	color: var(--color-dark, #000);
	line-height: 1.3;

	@media(max-width: 910px){
		display: none;
	}
}

.header-cols {
	display: flex;
	position: relative;
    z-index: 1;

    .col-left {
    	margin-bottom: -30px;

    	@media(max-width: 1024px){
				display: none;
			}
    }

	.col-right {
		@media(max-width: 910px){
			width: 100%;
		}
		.wrap {
			display: flex;
			align-items: center;
			margin-bottom: 15px;

			@media(max-width: 1024px){
				margin-bottom: 10px;
			}
			@media(max-width: 910px){
				margin-bottom: 0;
    		justify-content: space-between;
    		padding: 0 8px;
			}
			@media(max-width: 380px){
				padding: 0;
			}
		}
	}

	.wrap .btn-custom {
		display: none;

		@media(max-width: 910px){
			padding: 0;
			width: 57px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
		}
	}

	.logo-text {
		flex-shrink: 0;
		margin-right: 30px;
		display: inline-block;

		@media(max-width: 1024px){
			margin-right: 20px;
		}
		@media(max-width: 910px){
			margin: 0 5px;

			img {
				width: 140px;
			}
		}
		@media(max-width: 380px){
			img {
				width: 125px;
			}
		}
	}
}

.title-text {
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 8px;
}

.lang-wrap {
	display: table;
	position: relative;
	margin-left: auto;

	&.active {
		.lang-list {
			display: block;
		}
		.lang-btn {
			.icon-arrow {
				transform: rotate(180deg);
			}
		}
	}

	.flag {
		margin-right: 8px;
		display: block;
		border-radius: 2px;
		width: 24px;
		height: 16px;
		object-fit: cover;
	}
}

.lang-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 5px 5px 4px 5px;
	border-radius: 5px;
	border: 1px solid var(--white-20, rgba(255, 255, 255, 0.20));
	background-color: transparent;
	color: #fff;
	cursor: pointer;

	.icon-arrow {
		font-size: 11px;
		transition: transform .2s;
	}

	.lang-name {
		text-transform: uppercase;
		margin-right: 4px;
		font-size: 13px;
	}
}

.lang-name {
	font-size: 14px;
}

.lang-list {
	width: 250px;
	position: absolute;
	top: calc(100% + 4px);
	right: 0;
	z-index: 2;
	text-align: left;
	border-radius: 5px;
	border: 1px solid var(--white-20, rgba(255, 255, 255, 0.20));
	padding: 10px 6px;
	background-color: #2B2A29;
	column-count: 2;
	display: none;

	.item {
		display: flex;
		margin-bottom: 6px;
		padding: 0 4px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.lang-link {
	display: inline-flex;
	align-items: center;
	transition: color .3s;

	@media(hover: hover) and (pointer: fine){
		&:hover{
			color: #EFA954;
		}
	}

	.lang-name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 70%;
	}
}

.header-controls {
	border-radius: 36px;
	background: var(--dark-20, rgba(0, 0, 0, 0.20));
	padding: 13px 16px;
	display: flex;
	align-items: center;
	margin-left: -30px;

	@media(max-width: 1024px){
		margin-left: 0;
		padding: 8px;
	}
	@media(max-width: 910px){
		display: none;
		padding: 0;
		background: none;
		margin-top: 35px;
	}
	.navbar {
		@media(max-width: 910px){
			margin-right: 0;
		}
		.item {
			&:nth-child(4) {
				.name {
					display: block;

					@media(max-width: 380px){
						display: none;
					}
				}
			}
		}
		.name {
			@media(max-width: 640px){
				display: none;
			}
		}
	}
	.btn-custom {
		@media(max-width: 380px){
			padding: 4px 13px;
		}
	}
	.theme-wrap {
		@media(max-width: 380px){
			padding: 4px 6px;
		}
	}
}

.search-header {
	flex-grow: 1;
}

.search-form {
	position: relative;

	.search-btn {
		position: absolute;
		top: 50%;
		right: 23px;
		transform: translate3d(0, -50%, 0);
		border: none;
		background: none;
		cursor: pointer;
		font-size: 20px;
		transition: color .3s;

		@media(hover: hover) and (pointer: fine){
			&:hover{
				color: #EFA954;
			}
		}
	}
}

.search-input {
	width: 100%;
	padding-right: 50px;
}

.fake-placeholder {
	color: var(--dark-80, rgba(0, 0, 0, 0.80));
	display: flex;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 0;
	width: calc(100% - 50px);
	padding-left: 23px;
	transform: translateY(-50%);
	pointer-events: none;

	.name {
		color: var(--dark-60, rgba(0, 0, 0, 0.60));
		margin-left: 6px;

		@media(max-width: 1200px){
			display: none;
		}
		@media(max-width: 1024px){
			display: block;
		}
	}
}

.search-input:focus + .fake-placeholder,
.search-input:not(:placeholder-shown) + .fake-placeholder {
  display: none;
}

.navbar {
	display: flex;
	margin-right: 10px;

	@media(max-width: 1024px){
		margin-right: 7px;
	}

	.item {
		margin-right: 2px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.nav-link {
	transition: color .3s;
	display: flex;
	align-items: center;

	@media(hover: hover) and (pointer: fine){
		&:hover{
			color: #EFA954;
		}
	}

	.icon {
		flex-shrink: 0;

		& + .name {
			margin-left: 8px;
			white-space: nowrap;
		}
	}
}

.btn-custom {
	border-radius: 20px;
	background: linear-gradient(to bottom, #FFC97F 0%, #271C0E 100%);
	padding: 4px 16px;
	font-weight: 500;
	height: 47px;
	line-height: 47px;
	position: relative;
	overflow: hidden;

	&:after {
		content: "";
		position: absolute;
		top: 1px;
		left: 1px;
		height: calc(100% - 2px);
		width: calc(100% - 2px);
		background: var(--dark-80, rgba(0, 0, 0, 0.80));
		border-radius: 20px;
	}

	& * {
		z-index: 1;
		position: relative;
	}
}

.theme-wrap {
	margin-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 7px;
	padding-right: 7px;

	@media(max-width: 1024px){
		margin-left: 7px;
	}
	@media(max-width: 910px){
		margin-left: 2px;
	}
}

.theme-btn {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background: none;
	color: #838383;
	font-size: 19px;
	margin: 0 2px;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	position: relative;
	transition: color .3s;

	@media(hover: hover) and (pointer: fine){
		&:hover{
			color: #EFA954;
		}
	}

	&:after {
		content: "";
		position: absolute;
		top: 2px;
		left: 2px;
		height: calc(100% - 4px);
		width: calc(100% - 4px);
		background: linear-gradient(to bottom, #EC873D, #E89728);
		border-radius: 50%;
		display: none;
	}

	& * {
		z-index: 1;
		position: relative;
	}
}

.theme-light {
	font-size: 23px;
}

.menu-footer {
	display: none;
	text-align: center;
	font-size: 15px;

		.logo-header {
			margin-bottom: 50px;
			top: 0;
			scale: 1;
		}

		.box {
			margin-bottom: 8px;
		}

		.copy {
			color: var(--white-60, rgba(255, 255, 255, 0.60));
			margin: 0 auto;
		}

		.footer-link {
			color: #fff;
		}

		.footer-list {
			justify-content: center;
		}
}

.header-cols {
	.related-sites {
		display: none;
		margin: 24px 0;
	}
}

.related-sites {
	padding: 12px 10px 16px;
	border-radius: 20px;
	background: #222221;

	.top-title {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;

		.img {
			flex-shrink: 0;
			margin-right: 18px;
		}

		.text {
			font-weight: 500;
			font-size: 26px;
			text-transform: uppercase;
			color: var(--white-60, rgba(255, 255, 255, 0.60));
		}
	}

	.top {
		display: flex;
		align-items: center;
		margin-bottom: 4px;

		.icon {
			flex-shrink: 0;
			margin-right: 10px;
			font-size: 20px;
			color: #FD0000;
		}

		.text {
			text-transform: capitalize;
			font-size: 17px;
			font-weight: 500;
		}
	}

	.text-name {
		color: var(--white-60, rgba(255, 255, 255, 0.60));
		display: -webkit-box;
	  -webkit-line-clamp: 3;
	  -webkit-box-orient: vertical;
	  overflow: hidden;

	  @media(max-width: 768px){
	  	width: 50%;
	  	margin: 0 auto;
	  	display: block;
	  }
	  @media(max-width: 480px){
	  	text-align: left;
	  	width: 100%;
	  	padding-left: 45px;
	  }
	}

	.cat-bottom {
		border-color: #DFB06F;
    background: #070707;
    max-width: 290px;
    margin: 24px auto 0;
    text-transform: none;
    padding: 13px 10px;
	}
}

.related-list {
	margin-bottom: 32px;
	counter-reset: item;

	.item {
		margin-bottom: 15px;
		display: flex;
		align-items: center;

		&:first-child:before {
			border-color: #FF6464;
		}

		&:nth-child(2):before {
			border-color: #287DA2;
		}

		&:nth-child(3):before {
			border-color: #ACFF64;
		}

		&:nth-child(4):before {
			border-color: #FF64B4;
		}

		&:nth-child(5):before {
			border-color: #A70D0D;
		}

		&:before {
			content: counter(item) "";
			counter-increment: item;
			font-size: 18px;
			font-weight: 500;
			margin-right: 24px;
			width: 32px;
			height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			border-radius: 50%;
			border-bottom: 2px solid transparent;
			background: var(--dark-20, rgba(0, 0, 0, 0.20));
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.relared-link {
	color: var(--white-60, rgba(255, 255, 255, 0.60));
	transition: color .3s;

	@media(hover: hover) and (pointer: fine){
		&:hover{
			color: #EFA954;
		}
	}
}