// @import 'reset';
// @import 'media';
// @import 'global';
// @import 'icons';

// @import 'includes/plugins';

// .main {
// 	padding-bottom: 100px;
// }

.categories-grid {
	margin-bottom: 300px;
}

.party-intro {

	.logo-wrap {
		text-align: center;
		position: relative;
		top: -40px;
	}
}

.wrap-canvas {
	position: relative;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 20%;
		width: 100%;
		height: 61%;
		background: url("../images/header-bg.svg") no-repeat bottom center / cover;
		pointer-events: none;
		transform: rotate(180deg);
		z-index: -1;
	}

	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 68%;
		width: 100%;
		height: 100%;
		background: url("../images/clouds-bg.svg") no-repeat bottom center / cover;
		pointer-events: none;
	}
}

.canvas-box {
	width: 100%;
}