@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

// settings main
$body_color:#fff;
$body_bg:#2B2A29;
$placeholder_color: var(--dark-80, rgba(0, 0, 0, 0.80));
$selection_bg:#2600ff;
$selection_color:#fff;
$site_font_width:400;
$site_font_size:15px;
$site_line_height:1.2;
$default_font:'Roboto', sans-serif;
$link_color:#fff;
$link_hover_color:#EFA954;