// variables
@import "includes/variables";
// custom mixins
@import "includes/mixins";
// res css
@import "includes/res";
// @import "includes/normalize";
// media quaries
@import "includes/media-queries";
// fonts
// @include font-face('Ico Moon', '../fonts/icomoon', normal, normal);

html {
	height:100%;
	min-width:320px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	font: #{$site_font_width} #{$site_font_size}/#{$site_line_height} $default_font;
	// min-height:100%;
	height: 100%;
	min-width:320px;
	position:relative;
	color:$body_color;
	// background:$body_bg;
	@media(max-width: 768px){
		font-size: 14px;
	}

	&.no-scroll {
		overflow: hidden;
	}

	&:after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: -2;
		width: 100%;
		height: 100%;
	}

	&.dark {
		&:after {
			background: #2B2A29 url("../images/body-bg-decor.svg") repeat;
		}

		.theme-dark {
			background: linear-gradient(to bottom right, #FE7D59 20%, #FFB515 100%);
			color: #fff;

			&:after {
				display: block;
			}
		}
	}

	&.light {
		&:after {
			background: #E5E4E4 url("../images/body-bg-decor-light.svg") repeat;
		}

		.theme-light {
			background: linear-gradient(to bottom right, #FE7D59 20%, #FFB515 100%);
			color: #fff;

			&:after {
				display: block;
			}
		}

		.header-top {
			background-color: #F08800;
		}

		.lang-list {
			background-color: #E5E4E4;
			border-color: #C8904B;
		}

		.header-bottom:before {
			background-color: #B7B6B6;
		}

		.btn-custom {
		    color: #fff;

		    @media(hover: hover) and (pointer: fine){
		    	&:hover{
		    		color: #EFA954;
		    	}
		    }
		}

		.cat-header {
			background-color: #F9F9F9;
		}

		.cat-body,
		.cat-header:before {
			background: #F8F8F8;
		}

		.category-box {
			background: var(--white-20, rgba(255, 255, 255, 0.20));
		}

		.category-box:before {
			background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
		}

		.category-box:after {
			background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
		}

		a {
			color: #000;
		}

		.cat-text,
		.cat-list .item:before {
			color: var(--dark-60, rgba(0, 0, 0, 0.60));
		}

		.cat-link .icon-search {
			color: var(--dark-60, rgba(0, 0, 0, 0.20));
		}

		.cat-link {
			@media(hover: hover) and (pointer: fine){
				&:hover{
					background-color: #fff;

					.icon-search {
						color: #FF9700;
					}

				}

			}
		}

		.cat-bottom {
			color: #fff;

			@media(hover: hover) and (pointer: fine){
		    	&:hover{
		    		color: #EFA954;
		    	}
		    }
		}

		.scrollbar-custom {
			top: 25px;
		}

		.cat-header {
			z-index: 1;
		}

		.cat-header:before {
			display: none;
		}

		.cat-body {
			margin-top: -15px;
		}

		.open-menu {
			background-color: #a7a2a2;

			.header-cols .related-sites {
				background-color: #c2c0c0;
			}

			.header-top {
				background-color: #a7a2a2;
			}

			.related-sites .cat-bottom {
				background: linear-gradient(130deg, #FD7B5A, #FEB910);
				color: #fff;
			}
		}

		.box-thumb {
			background-color: #f8f8f8;
		}

		.block.related-sites {
			background: var(--white-20, rgba(255, 255, 255, 0.20));
		}

		.buttons-wrap .btn-custom {
			color: #fff;

			@media(hover: hover) and (pointer: fine){
				&:hover{
					color: #FF9700;
				}
			}
		}

		.headline,
		.box-thumb .name-text {
			color: #000;
		}

		.related-sites .text-name {
			color: var(--dark-60, rgba(0, 0, 0, 0.60));
		}

		.headline .title .value {
			color: var(--dark-60, rgba(0, 0, 0, 0.60));
		}

		.breadcrumbs .svg-icon,
		.box-thumb .text {
			color: var(--dark-60, rgba(0, 0, 0, 0.60));
		}

		.buttons-wrap .btn-custom:first-child:after {
			background-color: #F98C8C;
		}

		.buttons-wrap .btn-custom:first-child {
		    background: linear-gradient(to bottom, #FD6363 0%, #F98C8C 100%);
		    @media(hover: hover) and (pointer: fine){
		    	&:hover{
		    		color: var(--dark-60, rgba(0, 0, 0, 0.6));;
		    	}
		    }
		}

		.box-thumb .value {
			background: var(--white-60, rgba(255, 255, 255, 0.60));
			color: var(--dark-60, rgba(0, 0, 0, 0.60));
		}

		.thumb {
			background: var(--white-20, rgba(255, 255, 255, 0.20));
		}

		.related-list .item:before {
			background: var(--white-60, rgba(255, 255, 255, 0.60));
			color: #000;
		}

		.related-sites .top .text {
			color: #000;
		}

		.breadcrumbs .link {
			color: var(--dark-60, rgba(0, 0, 0, 0.60));

			@media(hover: hover) and (pointer: fine){
				&:hover{
					color: #FF9700;
				}
			}
		}

		.block.related-sites .box-img .top {
			color: #fff;
		}

		.info-block,
		.sidebar .related-sites,
		.layout .related-sites {
			background: var(--white-20, rgba(255, 255, 255, 0.20));
		}

		.thumbs.second {
			background: var(--white-20, rgba(255, 255, 255, 0.20));
		}

		.thumbs.second .thumb {
			background: var(--white-20, rgba(255, 255, 255, 0.20));
		}

		.thumbs .wrap-info .text-name,
		.layout {
			color: #000;
		}

		.info-block .text-review {
			color: var(--dark-60, rgba(0, 0, 0, 0.60));
		}

		.info-block .buttons-wrap .btn-custom:first-child:after,
		.sidebar .related-sites:last-child .cat-bottom {
			background: var(--dark-80, rgba(0, 0, 0, 0.8));
		}

		.info-block .buttons-wrap .btn-custom:first-child {
			background: linear-gradient(to bottom, #FFC97F 0%, #271C0E 100%);

			@media(hover: hover) and (pointer: fine){
				&:hover{
					color: #FF9700;
				}
			}
		}

		.thumbs .top-line .text {
			color: #000;
		}

		.thumbs.second .number {
			background: var(--white-60, rgba(255, 255, 255, 0.60));
			color: #000;
		}

		@media(max-width: 640px){
			.info-block .wrap-box .col-left .top .text {
				color: #fff;
			}
		}

		.check-list .icon {
			color: #fff;
		}

		.list-info .rate-text,
		.list-info .col-left {
			color: var(--dark-60, rgba(0, 0, 0, 0.60));
		}

		.sidebar .related-sites:last-child .cat-bottom {
			border-color: #FFC97F;
		}

		.content .footer-text .title,
		.layout .related-sites .top-title .text {
			color: var(--dark-60, rgba(0, 0, 0, 0.60));
		}

		.info-block:after {
			background: linear-gradient(180deg, rgba(194, 192, 192, 0) 0%, #ecebeb 100%);
		}

		.blogs-wrap,
		.col-thumb {
			background: var(--white-20, rgba(255, 255, 255, 0.20));
		}

		.blogs-wrap {
			color: #000;
		}

		.aux .m-right {
			color: var(--dark-60, rgba(0, 0, 0, 0.60));
		}

		.blogs-wrap .cols {
			background-color: #F8F8F8;
		}

		.blogs-wrap .wrap-btn .btn-custom {
			color: #fff;

			@media(hover: hover) and (pointer: fine){
				&:hover{
					color: #FF9700;
				}
			}
		}

		.page-link .number {
			color: #fff;
		}

		.blog-list {
			color: var(--dark-60, rgba(0, 0, 0, 0.60));
		}

		.col-thumb .title-name {
			color: #000;
		}

		.footer-wrap:after {
			background-color: #B7B6B6;
		}

		.wrap-canvas:after {
			border-color: #B7B6B6;
		}
	}
}
a{
	color:$link_color;
	text-decoration:none;
	// &:hover{
	// 	text-decoration:underline;
	// 	color:$link_hover_color;
	// }
}

input{
	outline:none;
	-webkit-appearance:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	height: 47px;
	line-height: 47px;
	border-radius: 20px;
	border: 1px solid var(--1-gray-10, #FBFBFB);
	padding: 0 23px;
	font-family: $default_font;
}

*{
	outline: none;
}
* {
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
	@include selection {
		background: $selection_bg; color: $selection_color;
	}
}
//ico
// *[class*=ico_]{
// 	display:inline-block;
// 	vertical-align:top;
// 	background:url(../images/sprite@320.png) no-repeat;
// 	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
// 		background:url(../images/sprite2x.png) no-repeat;
// 		background-size: 0px 0px; // width and height sprite320
// 	}
// }

//placeholder cross-browser
input, textarea {
	@include placeholder {
		color: $placeholder_color;
		font-size: 15px;
	}
	&.placeholder {color: $placeholder_color !important;}
}
// separator
// @extend %separator;
%separator {
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
	&:before {
		content: '|';
		padding-right: 10px;
		color: #000;
	}
	&:first-child {
		padding-left: 0;
		&:before {
			display: none;
			padding-right: 0;
		}
	}
}

// clearfix
// @extend %clearfix;
%clearfix {
	&:before {
		content: "";
		display: table;
		clear: both;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.wrapper{
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
	overflow: hidden;
}
.container{
	max-width: 1250px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;

	@media(max-width: 1200px){
		padding: 0 10px;
	}
}
.svg-icon {
    display: block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}
.title {
	font-weight: 500;
}
//icon
// [class^="icon-"], [class*=" icon-"] {
// 	/* use !important to prevent issues with browser extensions that change fonts */
// 	font-family: 'Ico Moon' !important;
// 	font-size: 12px;
// 	speak: none;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1;

// 	/* Better Font Rendering =========== */
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

// @include max-screen(1000px) {}

// template css
@import "templates/header";
// template css
@import "templates/main";
// template css
@import "templates/footer";
// // template css
// @import "templates/forms";
// // template css
// @import "includes/popup";
